@{
    ViewBag.Title = "User Page";
}

@Html.ActionLink("Edit this course", "EditCourse", new { Id = "ForritunX" })

@Html.ActionLink("Delete this course", "DeleteCourse", new { Id = "qq" })


@model List<string>
@foreach (var element in Model)
{
    <p>@Html.DisplayFor(m => element)</p>
}

@Html.ActionLink("Delete this user", "DeleteStudent", new { Id = "Arnór Erlingur" })

@Html.ActionLink("Edit this user", "EditUser", new { Id = "Tómas Hinriksson" })

<input type="button" value="Users" onclick="location.href='@Url.Action("Index", "Home")'" />

