@{
    ViewBag.Title = "Admin - Couses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<String>

@Html.Partial("_AdminForm")

<div class="above-main">
    <div class="rightSide">
        @Html.ActionLink("Create New Course", "AddCourse", "Admin", null, new { @class = "btn btn-default" })
    </div>
</div>

<div class="main">
    <table class="default admin">
        <caption>Courses</caption>
        <thead>
            <tr>
                <th>Course</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <!--Displays all the courses through the Model-->
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item)</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteCourse", new { id = item }, new { @class = "delete" })
                        @Html.ActionLink("Edit", "EditCourse", new { id = item }, new { @class = "edit" })
                        @Html.ActionLink("View users", "ViewUsersinCourse", new { id = item })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>