@{
    ViewBag.Title = "User Page";
}




@model Mooshak_2._0.Models.ViewUsersInCourseEditUserViewModel
@using (Html.BeginForm())
{
    <input type="hidden" value="@Model.CourseName" name="RedirectId" />
    <input type="hidden" value="@Model.UserInfo.ElementAt(0)" name="SearchName" />
    <p>Name:</p>
    <input type="text" value="@Model.UserInfo.ElementAt(0)" name="Name" />
    <p>Username:</p>
    <input type="text" value="@Model.UserInfo.ElementAt(1)" name="Username" />
    <p>Password:</p>
    <input type="text" value="@Model.UserInfo.ElementAt(2)" name="Password" />
    <p>Ssn:</p>
    <input type="text" value="@Model.UserInfo.ElementAt(3)" name="Ssn" />
    <p>Email:</p>
    <input type="text" value="@Model.UserInfo.ElementAt(4)" name="Email" />

    bool IsStudent = false;
    <p>Role</p>
    if (Model.UserInfo.ElementAt(5) == "Student")
    {
        IsStudent = true;
    }
    @Html.RadioButton("Role", "2", !IsStudent) <span>Teacher</span>
    @Html.RadioButton("Role", "3", IsStudent) <span>Student</span>
    bool IsInCourse = false;
    <p>Courses</p>
    foreach (var element in Model.Courses)
    {
        IsInCourse = false;
        foreach (var el in Model.UserCourses)
        {

            if (element == el)
            {

                IsInCourse = true;
                break;
            }
        }
        if (IsInCourse)
        {
            <input type="checkbox" name="Courses" value="@element" checked>        <span>@element</span>        
        }

        else
        {
            <input type="checkbox" name="Courses" value="@element">        <span>@element</span>            
        }

    }
    



    <input type="submit" value="submit" />
}


<input type="button" value="Cancel" onclick="location.href='@Url.Action("ViewUsersinCourse", "Admin",new { id = @Model.CourseName })'" />

