@{
    ViewBag.Title = "Admin - Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdminForm")

<div class="above-main">
    <div class="rightSide">
        @Html.ActionLink("Create New User", "AddUser", "Admin", null, new { @class = "btn btn-default" })
    </div>
</div>

<div class="main">
    <table class="default">
        <caption>All users</caption>
        <thead>
            <tr>
                <th>Teachers</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var element in Model.Teachers)
            {
                <tr>
                    <td>@Html.DisplayFor(m => element)</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteTeacher", new { id = element }, new { @class = "delete" })
                        @Html.ActionLink("Edit", "EditUser", new { id = element }, new { @class = "edit" })
                    </td>
                </tr>
            }
        </tbody>
        <thead>
            <tr>
                <th>Students</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var element in Model.Students)
            {
                <tr>
                    <td>@Html.DisplayFor(m => element)</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteStudent", new { id = element }, new { @class = "delete" })
                        @Html.ActionLink("Edit", "EditUser", new { id = element }, new { @class = "edit" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>