
@{
    ViewBag.Title = "User Page";
}

@model List<string>
@foreach (var element in Model)
{
    <p>@Html.DisplayFor(m => element)</p>
}


<input type="button" value="Users" onclick="location.href='@Url.Action("Index", "Home")'" />


@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdminForm")

<div class="main">
    <table class="course"> // breita nafninu á course clasanum
        <caption>All users</caption>
        <thead>
            <tr>
                <th>Teachers</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => element)</td>
                    <td>
                        <a class="delete">Delete</a>
                        <a class="edit">Edit</a>
                        <a>View users</a>
                    </td>
                </tr>
            }
        </tbody>
        <thead>
            <tr>
                <th>Students</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => element)</td>
                    <td>
                        <a class="delete">Delete</a>
                        <a class="edit">Edit</a>
                        <a>View users</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>