@{
    ViewBag.Title = "Admin - Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_AdminFormViewUsers")

<div class="above-main">
    <div class="rightSide">
    </div>
</div>

<div class="main">
    <table class="default">
        <caption>@Model.CourseName - Users</caption>
        <thead>
            <tr>
                <th>Teachers</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model.Teachers)
            {
                <tr>
                    <td>@Html.DisplayFor(m => element)</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteTeacherViewUsersInCourse", new { id = element + "," + @Model.CourseName }, new { @class = "delete" })
                        @Html.ActionLink("Edit", "EditUserViewUserInCourse", new { id = element + "," + @Model.CourseName }, new { @class = "edit" })
                    </td>
                </tr>
            }
        </tbody>
        <thead>
            <tr>
                <th>Students</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model.Students)
            {
                <tr>
                    <td>@Html.DisplayFor(m => element)</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteStudentViewUsersInCourse", new { id = element + "," + @Model.CourseName }, new { @class = "delete" })
                        @Html.ActionLink("Edit", "EditUserViewUserInCourse", new { id = element + "," + @Model.CourseName }, new { @class = "edit" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>