@{
    ViewBag.Title = "Select Assignment";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/Content/DefaultWithTable.css">
    <link rel="stylesheet" type="text/css" href="~/Content/TeacherCss.css">

    <div class="leftSide">
        <div class="above">
            <div class="User leftSide">
                <img id="per" src="~/Content/Person.png" alt="Person" />
                <div class="labels">
                    <label>Username</label><br />
                    <label>Student</label>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <ul>
                <li id="sidebar-title">@Model.CourseName</li>
                @foreach (var element in Model.Assignments)
                {
                    <li>@Html.ActionLink(Html.DisplayFor(x => element).ToString(), "SelectSubAssignment", new { subID = Model.SubAssignmentName, mainID = element, courseID = Model.CourseName, studentID = Model.StudentName })</li>
                }
            </ul>
        </div>
    </div>
    <div class="above-main">
        <h2>@Model.AssignmentName</h2>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                ~ Sub-Assignments ~
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var element in Model.SubAssignments)
                {
                    <li>@Html.ActionLink(Html.DisplayFor(x => element).ToString(), "SelectSubAssignment", new { subID = element, mainID = Model.AssignmentName, courseID = @Model.CourseName, studentID = Model.StudentName })</li>
                }
            </ul>
        </div>
    </div>

    <div class="main">
        <table class="default admin">
            <caption>Courses</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Language</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model.Submissions)
                {
                    <tr>
                        <td>number</td>
                        <td>@DateTime.Now</td>
                        <td>C#</td>
                        <td>element.Grade</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
</body>
</html>
