@{
    ViewBag.Title = "Select Assignment";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @Html.Partial("_StudentAssignmentsForm")

    <div class="above-main submit">
        <div class="left">
            <h2>@Model.AssignmentName</h2>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    ~ Sub-Assignments ~
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">

                    <!--Lists all the subassignment of a selected assignment in a selected course from the model-->
                    @foreach (var element in Model.SubAssignments)
                    {
                        <li>@Html.ActionLink(Html.DisplayFor(x => element).ToString(), "SelectSubAssignment", new { subID = element, mainID = Model.AssignmentName, courseID = Model.CourseName, studentID = Model.StudentName })</li>
                    }
                </ul>
            </div>
            <input type="button" value="Back" onclick="location.href='@Url.Action("SelectAssignments", "Student", new { id = Model.CourseName, studentID = Model.StudentName })'" />
        </div>
            @using (Html.BeginForm())
            {
        <div class="right">
            <div class="browse">
                <input type="hidden" name="subID" value="@Model.SubAssignmentName" />
                <input type="hidden" name="mainID" value="@Model.AssignmentName" />
                <input type="hidden" name="courseID" value="@Model.CourseName" />
                <input type="hidden" name="studentID" value="@Model.StudentName" />
                <input type="file" name="path">
            </div>
            <div class="below-browse">
                <input type="submit" class="btn btn-default" value="Submit" />
                @Html.ActionLink("Description", "ViewDescription", "Student", new { subID = Model.SubAssignmentName, mainID = Model.AssignmentName, courseID = Model.CourseName, studentID = Model.StudentName }, new { @class = "btn btn-default input" })
            </div>
            <p>Try limit: <input class="tryLimit" value="No limit" /></p>
        </div>
            }
    </div>
    <div class="main">
        <table class="default">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Language</th>
                    <th>Result</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>

                <!--Displays all of the submissions in a selected subAssignmenn using the model class-->
                @foreach (var element in Model.Submissions)
                {
                    int grade = element.Grade;
                    <tr>
                        <td>number</td>
                        <td>@DateTime.Now</td>
                        <td>C#</td>
                        <td>@Html.DisplayFor(x => grade)</td>
                        <td>View</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
