@{
    ViewBag.Title = "AddAssignment";
}

<div class="above-main"></div>

<div class ="main">
<h2>New/Edit Assignment</h2>

   <!--The form that is used to add an assignment, directly used with the controller and the model-->
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <input type="hidden" value="@Model.Name" name="TeacherID" />
            <input type="hidden" value="@Model.Courses" name="CourseHidden" />
            <label for="Name">Name:</label>
            <input type="text" class="form-control" name="Name" />
        </div>
        <div class="form-group">
            <label for="Date">Due date:</label>
            <input type="date" class="form-control" name="Date" />
        </div>
        
        <input type="submit" class="btn btn-default" value="Save" />        
        <input type="button" class="btn btn-default" value="Cancel" onclick="location.href='@Url.Action("Assignments", "Teacher" , new { id = @Model.Courses, TeacherID = @Model.Name })'" />
    }
</div>