@{
    ViewBag.Title = "AddSubAssignment";
}
<div class="above-main"></div>

<div class="main">
    <h2>New SubAssignment</h2>

    <!--The form used to add a sub assignment, directly used with the controller and the model-->
    @using (Html.BeginForm())
    {
        <input type="hidden" name="AssignmentName" value="@Model.CurrentAssignment" />
        <input type="hidden" name="CourseName" value="@Model.CurrentClass" />
        <div class="form-group">
            <label for="SubName">Name:</label>                  
            <input type="text" name="SubName" class="form-control" />    
        </div>

        <div class="form-group">
            <label for="Descrip">Description:</label>                  
            <textarea rows="5" cols="50" name="Descrip" class="form-control"></textarea>    
        </div>
        <div class="form-group">
            <label for="limit">Submit limit:</label>                    
            <input type="number" name="limit" value="0" class="form-control" />               
        </div>
        <div class="form-group">
            <label for="Percentage">Percentage of total grade :</label>
            <input type="text" name="Percentage" class="form-control" />          
        </div>
        <div class="form-group">
            <label for="Input">Input:</label>                           
            <input type="file" name="Input" />                          
        </div>
        <div class="form-group">
            <label for="Output">Output:</label>                         
            <input type="file" name="Output" />                         
        </div>
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Assignments", "Teacher", new { id = @Model.Courses, TeacherID = @Model.Name })'" />
    }

</div>