@{

    ViewBag.Title = "BestSubmittions - Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/DefaultWithTable.css">
<link rel="stylesheet" type="text/css" href="~/Content/TeacherCss.css">

<div class="above-main"></div>
<div class="main">
    <table class="default teacher">
        <caption>Student - @Model.PartAssignmentName</caption>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Path</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model.AllSubmit)
            {
                string path = element.PathToAssignmentSave;
                string grade = element.Grade.ToString();
                <tr>
                    <td>@Model.StudentName</td>
                    <td> @Html.DisplayFor(m => path)</td>
                    <td> @Html.DisplayFor(m => grade)</td>
                </tr>
            }
        </tbody>
    </table>
    <input class="btn btn-default" type="button" value="Back To Course" onclick="location.href='@Url.Action("Assignments/" + Model.CourseName, "Teacher")'" />
</div>
