@{
    ViewBag.Title = "Assignments - Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_TeacherForm")

<!--Connects this cshtml file to the model below-->
@model Mooshak_2._0.Models.TeacherViewModelsAssignmetns

<div class="above-main">
    <div class="rightSide">
        @Html.ActionLink("Create New Assignment", "AddAssignment", new { id = @Model.CurrentClass, TeacherID = @Model.Name }, new { @class = "btn btn-default" })
    </div>
</div>

<div class="main">
    <table class="default teacher">
        <caption>@Model.CurrentClass</caption>
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Due Date</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <!--Displays list of assignments from the Model-->
            @foreach (var element in Model.Assignments)
            {
                <tr>
                    <td>@Html.DisplayFor(m => element.AssignmentName)</td>
                    <td>@Html.DisplayFor(m => element.DueDate)</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteAssignment", new { id = element.AssignmentName, courseID = @Model.CurrentClass, TeacherID = @Model.Name }, new { @class = "delete" })
                        @Html.ActionLink("Edit", "EditAssignment", new { id = element.AssignmentName, courseID = @Model.CurrentClass, TeacherID = @Model.Name }, new { @class = "edit" })
                        @Html.ActionLink("Add subassignment", "AddSubAssignment", new { id = element.AssignmentName, courseID = @Model.CurrentClass, TeacherID = @Model.Name })
                    </td>
                </tr>
                <!--Displays list  of SubAssignments that are assigned to the assignment-->
                foreach (var subelement in element.SubAssignments)
                {
                    <tr class="sub">
                        <td>- @Html.DisplayFor(m => subelement)</td>
                        <td></td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteSubAssignment", new { id = subelement, mainID = element.AssignmentName, courseID = @Model.CurrentClass, TeacherID = @Model.Name }, new { @class = "delete" })
                            @Html.ActionLink("Edit", "EditSubassignment", new { subID = subelement, mainID = element.AssignmentName, courseID = Model.CurrentClass, TeacherID = @Model.Name }, new { @class = "edit" }) <br />
                            @Html.ActionLink("View Best Submissions from all students", "BestSubmittionsFromAllStudents", new { id = subelement, mainID = element.AssignmentName, courseID = @Model.CurrentClass }, new { @class = "" }) <br />
                            @Html.ActionLink("View Submission from student", "SelectStudent", new { id = subelement, mainID = element.AssignmentName, courseID = @Model.CurrentClass }, new { @class = "" })
                        </td>
                    </tr>
                }
            }            
        </tbody>
    </table>
</div>