@{
    ViewBag.Title = "Assignments - Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_TeacherForm")

@model Mooshak_2._0.Models.TeacherViewModelsAssignmetns

<div class="above-main">
    <div class="rightSide">
        @Html.ActionLink("Create New Assignment", "AddAssignment", new { id = @Model.CurrentClass }, new { @class = "btn btn-default" })
    </div>
</div>

<div class="main">
    <table class="default teacher">
        <caption>Courses</caption>
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Due Date</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model.Assignments)
            {
                <tr>
                    <td>@Html.DisplayFor(m => element.AssignmentName)</td>
                    <td></td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteAssignment", new { id = element.AssignmentName, courseID = @Model.CurrentClass }, new { @class = "delete" })
                        @Html.ActionLink("Edit", "EditAssignment", new { id = element.AssignmentName }, new { @class = "edit" })
                        @Html.ActionLink("Add subassignment", "EditUser", new { id = element.AssignmentName })
 
                    </td>
                </tr>
                foreach (var subelement in element.SubAssignments)
                {
                    <tr class="sub">
                        <td>- @Html.DisplayFor(m => subelement)</td>
                        <td></td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteSubAssignment", new { id = subelement, mainID = element.AssignmentName, courseID = @Model.CurrentClass }, new { @class = "delete" })
                            @Html.ActionLink("Edit", "EditSubAssignment", new { id = subelement }, new { @class = "edit" })
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>