@{
    ViewBag.Title = "Assignments - Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_TeacherForm")

<div class="above-main">
    <div class="rightSide">
        @Html.ActionLink("Create New Assignment", "AddAssignment", "Teacher", null, new { @class = "btn btn-default" })
    </div>
</div>

<div class="main">
    <table class="default teacher">
        <caption>Courses</caption>
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Due Date</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Assignment 1</td>
                <td>01/01/16 - 23:59</td>
                <td>
                    @Html.ActionLink("Delete", "DeleteCourse", null, new { @class = "delete" })
                    @Html.ActionLink("Edit", "EditCourse", null, new { @class = "edit" })
                    @Html.ActionLink("Add sub-assignment", "AddSubAssignment")
                </td>
            </tr>
            <tr>
                <td>Assignment 2</td>
                <td>01/01/16 - 23:59</td>
                <td>
                    @Html.ActionLink("Add sub-assignment", "ViewUsersinCourse")
                </td>
            </tr>
            <tr class="sub">
                <td>- Part 1</td>
                <td></td>
                <td>
                    @Html.ActionLink("Delete", "DeleteCourse", null, new { @class = "delete" })
                    @Html.ActionLink("Edit", "EditCourse", null, new { @class = "edit" })
                </td>
            </tr>
        </tbody>
    </table>
</div>