@using System.Linq

@{
    ViewBag.Title = "BestSubmittions - AllStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/DefaultWithTable.css">
<link rel="stylesheet" type="text/css" href="~/Content/TeacherCss.css">

<div class="above-main"></div>
<div class="main">
    <table class="default teacher">
        <caption>@Model.ID</caption>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Path</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            <!--Displays a list of the best submittions from all of the students from the Model-->
            @foreach (var element in Model)
            {
                string name = element.Name;
                string path = element.PathToAssignmentSave;
                string grade = element.Grade.ToString();
            <tr>
                <td> @Html.DisplayFor(m => name)</td>
                <td> @Html.DisplayFor(m => path)</td>
                <td> @Html.DisplayFor(m => grade)</td>
            </tr>
                }
        </tbody>
    </table>
    <input class="btn btn-default" type="button" value="Back" onclick="location.href='@Url.Action("Assignments/" + Model.CourseName, "Teacher")'" />
</div>


